section {
    width: 100vw;
    height: 100vh;
    background-color: #2A294B;
}

section header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 2rem;
    padding: 1% 8%;
}

section h4 {
    letter-spacing: 4px;
    font-weight: 900;
}

section .img img {
    width: 60%;
    position: fixed;
    z-index: 0;
    top: 100px;
    right: 0;
    overflow: hidden;
}

section .content {
    width: 50%;
    padding: 0 8%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
}

section .content p {
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
}

section .content p .highlight {
    color: #6866E8;
}

section .content #subtext {
    color: rgb(185, 185, 185);
    font-size: 1rem;
    font-weight: 300;
    margin-left: 20px;
}

#subtext-container {
    border-left: 2px solid white;
    margin: 40px 0 40px;
}

.back-text {
    position: absolute;
    top: 100px;
    left: 40px;
    font-size: 8rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: .7px white;
}

.content button {
    background-color: #6865E9;
    border: none;
    outline: none;
    padding: 15px 30px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.icons {
    padding: 0 8%;
}

.icons a {
    margin-right: 70px;
    font-size: 2rem;
    color: gold;
}

@media (max-width: 1188px) {
    .back-text {
        font-size: 6rem;
    }

    section .content p {
        font-size: 2rem;
    }
}

@media (max-width: 864px) {
    .img {
        display: none;
    }

    .back-text {
        font-size: 4rem;
    }

    section .content p {
        font-size: 2rem;
    }

    section .content {
        width: 100%;
    }

    .icons a {
        margin-right: 30px;
    }
}